*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background: url("../images/back_img.png");
    color: #3C2F22;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #F5F0EB;
    z-index: 10;
}
.header-inner{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.header-inner h1{
    flex-shrink: 0;
    width: 200px;
}
h1 img{
    width: auto;
    height: 70px;
    display: block;
}
.header-inner nav{
    background: #E3D5C4;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;
}
.header-inner nav ul{
    display: flex;
    gap: 20px;
    padding: 0 5px;
    margin: 0;
    justify-content: flex-end;
    width: auto;
}
.header-inner nav ul li{
    margin: 0;
    padding: 0;
}
.header-inner nav ul li a{
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 5px 10px;
}
.header-inner nav ul li a:link,
.header-inner nav ul li a:visited{
    color: #3C2F22;
}
.header-inner nav ul li a:hover{
    background: #D4C1A8;
    color: #2A1F16;
    border-radius: 40px;
}
.header-image{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 90px;
    z-index: 1;
}
main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    scroll-behavior: smooth;
}
about_nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}
about_nav .btn-system{
    width: 180px;
    height: 35px;
    line-height: 35px;
    border-radius: 40px;
    background: #E3D5C4;
    color: #3C2F22;
}
about_nav .btn-sheet{
    width: 150px;
    height: 35px;
    line-height: 35px;
    border-radius: 40px;
    background: #E3D5C4;
    color: #3C2F22;
}
about_nav .btn-review{
    width: 150px;
    height: 35px;
    line-height: 35px;
    border-radius: 40px;
    background: #E3D5C4;
    color: #3C2F22;
}
about_nav .btn-price{
    width: 220px;
    height: 35px;
    line-height: 35px;
    border-radius: 40px;
    background: #E3D5C4;
    color: #3C2F22;
}
#system{
    text-align: center;
    padding: 50px 0 0;
}
#system .step-box-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
#system .step-box-container .step-box{
    background: #F5F0EB;
    border: solid 5px #E3D5C4;
    border-radius: 25px;
    width: 350px;
    height: 350px;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
#system .step-box h3{
    margin: 0 0 10px;
    align-self: flex-start;
}
#system .step-box .system-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#system p{
    padding: 20px 0 35px;
}
.step-box-container .arrow-right{
    background: #E3D5C4;
    width: 40px;
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
    align-self: center;
}
#sheet h2,#sheet .text{
    text-align: center;
}
.section-bg{
    background: url("../images/back_section.png");
    width: 100vw;
    margin-top: 100px;
    margin-left: calc(-50vw + 50%);
}
.sheet-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.section-bg h2{
    padding: 40px 0 30px;
}
.sheet-inner{
    display: flex;
    gap: 100px;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.question{
    background: #F5F0EB;
    width: 400px;
    height: 260px;
    border-radius: 25px;
    margin-top: 50px;
    padding: 30px 40px;
}
.question-title{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}
.question .question-title img{
    width: 40px;
    height: auto;
}
.question .question-inner{
    line-height: 1.7em;
}
.Q-A{
    background: #F5F0EB;
    width: 400px;
    height: 260px;
    border-radius: 25px;
    margin-top: 50px;
    padding: 30px 40px;
}
.Q-A-title{
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}
.Q-A-title img{
    width: 40px;
    height: auto;
}
.Q-A .Q-A-inner{
    line-height: 1.7em;
}
.Q-A .Q-A-inner span{
    display: block;
    margin-left: 8em;
}
.Q-A .Q-A-inner .A{
    text-indent: 2em;
}
#review{
    text-align: center;
}
#review h2{
    padding: 100px 0 50px;
}
.review-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-bottom: 50px;
}
#review img{
    width: auto;
    height: 350px;
    border-radius: 25px;
}
#review .text{
    text-align: left;
}
#review h3{
    padding-bottom: 15px;
}
#review .text p{
    line-height: 1.3em;
    padding-bottom: 15px;
}
#review .text p span{
    display: block;
    margin-left: 1em;
}
#review .text p .text-indent{
    display: block;
    margin-left: 13em;
}
#price{
    text-align: center;
}
#price .price-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
#price span{
    display: block;
    padding: 25px 0;
}
#price .price-plan{
    background: #F5F0EB;
    width: 700px;
    height: 300px;
    border-radius: 25px;
    margin: 0 auto;
    display: flex;
}