*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background: url("../images/back_img.png");
    color: #3C2F22;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #F5F0EB;
    z-index: 10;
}
.header-inner{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.header-inner h1{
    flex-shrink: 0;
    width: 200px;
}
h1 img{
    width: auto;
    height: 70px;
    display: block;
}
.header-inner nav{
    background: #E3D5C4;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: flex-end;
}
.header-inner nav ul{
    display: flex;
    gap: 20px;
    padding: 0 5px;
    margin: 0;
    justify-content: flex-end;
    width: auto;
}
.header-inner nav ul li{
    margin: 0;
    padding: 0;
}
.header-inner nav ul li a{
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 5px 10px;
}
.header-inner nav ul li a:link,
.header-inner nav ul li a:visited{
    color: #3C2F22;
}
.header-inner nav ul li a:hover{
    background: #D4C1A8;
    color: #2A1F16;
    border-radius: 40px;
}
.header-image{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 90px;
    z-index: 1;
}
main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.subTitle{
    text-align: center;
    padding: 100px 0 50px;
}
.about-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    text-align: center;
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 30px;
}
.about-container img{
    border-radius: 25px;
    max-width: 100%;
    height: auto;
}
.text-box{
    display: flex;
    flex-direction: column;
}
.text-box-inner{
    max-width: 500px;
    padding-bottom: 30px;
}
.text-box-inner h3{
    margin-bottom: 25px;
}
.text-box-inner p{
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.5em;
}
.about-button{
    width: 150px;
    height: 40px;
    margin-left: 400px;
    line-height: 40px;
    border-radius: 10px;
    background: #E3D5C4;
}
.about-button a{
    display: block;
    color: #3C2F22;
}
.section-bg{
    background: url("../images/back_section.png");
    width: 100vw;
    margin-top: 100px;
    margin-left: calc(-50vw + 50%);
}
.section-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.section-title{
    text-align: center;
    margin: 50px 0 25px;
}
.news-container{
    max-width: 900px;
    height: 350px;
    margin: 0 auto 50px;
    background: #F5F0EB;
    border-radius: 25px;
    text-align: center;
}
.news-inner{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 100px;
    justify-content: center;
    padding: 50px 0 20px;
}
.news-items{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.news-items .news-item{
    display: flex;
    gap: 60px;
}
.news-container .news-button{
    align-self: flex-end;
    margin-top: 10px;
    margin-right: 40px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    border-radius: 10px;
    background: #E3D5C4;
}
.news-container .news-button a{
    display: block;
    color: #3C2F22;
}