*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    max-width: 430px;
    font-family: serif;
    color: #3c2f21;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:focus,
a:active,
button:focus,
button:active {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent; /* スマホ特有の水色エフェクト対策 */
}
.return img{
    width: 30px;
    height: auto;
}
header{
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    z-index: 1000;
}
header a:focus{
    -webkit-tap-highlight-color: transparent;
}
h1{
    font-size: 18px;
}
header img{
    width: 30px;
    height: auto;
}
main{
    margin: 60px 0 60px;
    padding: 30px;
}
.book-info{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 30px 70px;
}
.book-info .book-details span{
    color: #F4BF00;
}
.talk-message{
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-bottom: 20px;
}
.talk-message img{
    width: 30px;
    height: auto;
}
.talk{
    max-width: 90%;
    position: relative;
    background: #fffefd;
    padding: 8px 12px 12px;
    border-radius: 8px;
    overflow: visible;
    border: 2px solid #3c2f21;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.talk::before{
    content: '';
    position: absolute;
    display: block;
    top: 10px;
    left: -15px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent #3c2f21 transparent transparent;
    margin-left: -2px;
    z-index: 10;
}
.talk::after {
    content: '';
    position: absolute;
    top: 11px;
    left: -11px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent #fffefd transparent transparent; /* 内側の色（背景） */
    margin-left: -2px;
    z-index: 11;
}
.talk summary{
    font-weight: bold;
    color: #a00;
}
.talk .talk-text{
    font-size: 16px;
}
.talk-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #3c2f21;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
}
.talk-input img{
    width: 30px;
    height: auto;
}
.text-input{
    padding: 5px;
    border: 1px solid #3c2f21;
    border-radius: 10px;
    font-size: 16px;
    width: 70%;
}
.send-button{
    background: none;
    border: none;
    border-radius: 20px;
    padding: 0;
    cursor: pointer;
    width: 30px;
    height: auto;
    align-items: center;
    justify-content: center;
}
.send-button:hover{
    background-color: #84705d;
}